@charset "UTF-8";
/* CSS Document */

/*******************************
	main
*******************************/
main {
    height: auto;
    padding-top: 0px;
	padding-bottom: 30px;
}
main .container {
    width: 100%;
	margin: 0 auto ;
	padding: 0;
}
/*******************************
	page-top
*******************************/
#page-top {
	position: relative;
}
#page-top-block{
	position: relative;
}
#page-top-block #page-top-text {
    position: absolute;
    z-index: 2;
    width: 90%;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-30%);
    color: #fff;
}
#page-top-block #page-top-text h2.page-top-title {
    position: relative;
    font-size: 4vw;
    margin-bottom: 2%;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    letter-spacing: 10px;
    margin-left: 10px;
}
#page-top-block #page-top-text p.page-top-title-en {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-left: 3px;
    font-size: 2.2vw;
}
#page-top-block #page-top-key{
	position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;
}
#page-top-block #page-top-key img.page-top-key-image {
    width: 60%;
    height: auto;
    opacity: 0.7;
}
#page-top-bg {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}
#page-top-bg .page-top-bg-image {
    width: 100%;
    height: 200px;
    vertical-align: bottom;
    object-fit: cover;
}
/*******************************
	page-top
*******************************/
#contents{
	
}
#contents #contents-title {
    padding: 15px 15px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#contents #contents-title h3.contents-title {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-weight: bold;
    font-size: 4.2vw;
    line-height: 1.2;
    margin: 0 auto 15px;
    text-align: center;
}
#contents #contents-title #title-goals-block{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	width: 240px;
	height: 110px;
}
#title-goals-block-top{
	width: 100%;
	height: auto;
	margin: 0 auto 10px;
}
#title-goals-block-top .goals{
	width: 100%;
	height: auto;
}
#title-goals-block-bottom{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#title-goals-block-bottom img{
	width: 70px;
}
/*******************************
	breadcrumbs
*******************************/
#breadcrumbs {
    padding: 20px 15px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	overflow: auto;
	white-space: nowrap;
}
#breadcrumbs ul {
    display: inline-flex;
    overflow-x: visible;
    word-wrap: break-word;
    white-space: nowrap;
}
#breadcrumbs ul li {
    font-size: 12px;
	display: inline-block;
	padding: 0 10px 0 0;
}
#breadcrumbs ul li::after {
    content:"＞";
	font-size: 12px;
	margin-left: 10px;
}
#breadcrumbs ul li:last-child::after {
    content:none;
	font-size: 12px;
	margin-left: 0px;
}
#breadcrumbs ul li a {
    font-size: 12px;
	color: #0095d5;
}
/*******************************
	site-top-navi
*******************************/
#site-top-navi {
    padding: 30px 0 20px;
    text-align: center;
}
#site-top-navi p {
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 1px;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
#site-top-navi nav {
    margin: 30px auto 0;
    max-width: 1120px;
}
#site-top-navi nav ul {
	display: flex;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	flex-flow: row wrap;
}
#site-top-navi nav ul li {
	width: 50%;
	text-align: left;
	margin-bottom: 20px;
}
#site-top-navi nav ul li a{
	font-size: 3.4vw;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;	
	color: #000;
	text-decoration: none;
	position: relative;
	padding-left: 10%;
	transition: none;
}
#site-top-navi nav ul li a::before {
    content: "";
    width: 2vw;
    height: 2vw;;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 45%;
	left: 0;
}
#site-top-navi nav ul li a:hover{
	text-decoration: underline;
}
/*******************************
	goals-block
*******************************/
#goals-block{
	display: flex;
	width: 100%;
	max-width: 1120px;
	flex-flow: column;
	justify-content: space-between;
	margin: 0 auto 20px;
	text-align: center;
	padding: 0 15px;
}
#goals-block .goals{
	width: 280px;
	margin: 0 auto 30px;
}
#goals-block .goals-text {
	font-size: 14px;
	line-height: 1.6;
}
#goals-link {
    width: 24%;
    margin: 0 auto;
}
#goals-block .goals-link{
    margin-top: 20px;
    font-size: 3.4vw;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;	
	display: block;
	position: relative;
	padding-left: 10%;
	color: #000;
	text-decoration: none;
	transition: none;
}
#goals-block .goals-link:hover{
	text-decoration:underline;
}
#goals-block .goals-link::before {
    content: "";
    width: 2vw;
    height: 2vw;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 45%;
    left: 0;
}
@media only screen and (min-width: 600px) {
/*******************************
	main
*******************************/
#page-top-bg .page-top-bg-image{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
/*******************************
	breadcrumbs
*******************************/
#breadcrumbs ul li {
    font-size: 14px;
	display: inline-block;
	padding: 0 10px 0 0;
}
#breadcrumbs ul li::after {
    content:"＞";
	font-size: 14px;
	margin-left: 10px;
}
#breadcrumbs ul li:last-child::after {
    content:none;
	font-size: 14px;
	margin-left: 0px;
}
#breadcrumbs ul li a {
    font-size: 14px;
	color: #0095d5;
}
#page-top-block #page-top-key img.page-top-key-image {
    width: 60%;
    height: auto;
    opacity: 0.7;
}
#page-top-block #page-top-key img.page-top-key-image {
    width: 60%;
    height: auto;
    opacity: 0.7;
}
/*******************************
	site-top-navi
*******************************/
#site-top-navi p {
    font-size: 3.2vw;
    line-height: 1.6;
    letter-spacing: 1px;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}
#site-top-navi{
	padding: 30px 0 20px;
	text-align: center;
}
#site-top-navi nav {
    margin: 20px auto 0;
    max-width: 1120px;
}
#site-top-navi nav ul {
    justify-content: center;
}
#site-top-navi nav ul li {
    width: 45%;
    text-align: left;
    margin-bottom: 20px;
}
#site-top-navi nav ul li a {
    font-size: 2.8vw;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    color: #000;
    text-decoration: none;
    position: relative;
    padding-left: 25px;
}
#site-top-navi nav ul li a::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
	left: 0;
}
/*******************************
	goals-block
*******************************/
#goals-block{
	padding: 0;
}
#goals-link {
    width: auto;
    margin: 0 auto;
}
#goals-block .goals-text{
	font-size: 18px;
	line-height: 1.6;
}
#goals-block .goals-link{
    font-size: 2.8vw;
	padding-left: 25px;
}
#goals-block .goals-link::before {
    width: 12px;
    height: 12px;
    top: 50%;
}
/*******************************
	main
*******************************/
#page-top-bg .page-top-bg-image{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
#contents #contents-title {
    padding: 35px 30px 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
#contents .content {
    padding: 0 30px 30%;
}
#contents .content #content-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 0 0;
	align-items: flex-start;
}

/*******************************
	breadcrumbs
*******************************/
#breadcrumbs {
    padding: 20px 30px;
}
}
@media only screen and (min-width: 1024px) {
/*******************************
	main
*******************************/
main {
    height: auto;
    padding-top: 0px;
	padding-bottom: 30px;
}
main .container {
    width: 100%;
	margin: 0 auto ;
	padding: 0;
}
#page-top-block #page-top-text h2.page-top-title{
    position: relative;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;	
	letter-spacing: 10px;
	margin-left: 10px;
}
#page-top-block #page-top-text p.page-top-title-en{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;	
	font-weight: 200;
	letter-spacing: 3px;
	margin-left: 3px;
	font-size: 16px;
}
#page-top-block #page-top-key img.page-top-key-image {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
#contents .content {
    padding: 0 0 30%;
	margin: 0 auto;
}
#contents #contents-title {
    padding: 35px 0px 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	max-width: 960px;
	margin: 0 auto;
}
#contents #contents-title h3.contents-title{
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-weight: bold;
    font-size: 40px;
	line-height: 1.2;
	margin: 0;
	text-align: left;
}
#contents .content #content-title {
    max-width: 960px;
}
#contents .content #content-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px auto 0;
    align-items: flex-start;
	max-width: 960px;
}
/*******************************
	site-top-navi
*******************************/
#site-top-navi {
    padding: 50px 0;
    text-align: center;
}
#site-top-navi p{
    font-size: 28px;
    line-height: 1.6;
    letter-spacing: 5px;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;	
}
#site-top-navi nav ul {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
	padding: 0 20px;
	flex-flow: row nowrap;
}
#site-top-navi nav ul li {
	width:  auto;
	text-align: center;
	margin-bottom: 0px;
}
#site-top-navi nav ul li a {
	font-size: 21px;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
	color: #000;
	text-decoration: none;
	position: relative;
	padding-left: 25px;
}
#site-top-navi nav ul li a::before {
    width: 12px;
    height: 12px;
}
/*******************************
	goals-block
*******************************/
#goals-block .goals {
	width: 500px;
	margin: 0 auto 30px;
}
#goals-block .goals-link{
    font-size: 21px;
}
}
@media only screen and (min-width: 1281px) {
/*******************************
	main
*******************************/
#title-goals-block-top {
    width: 240px;
    height: auto;
    margin: 0 auto 10px;
}
#title-goals-block-top .goals {
    width: 240px;
    height: auto;
}
/*******************************
	breadcrumbs
*******************************/
#breadcrumbs {
    padding: 20px 0px;
    max-width: 1198px;
    margin: 0 auto;
}
#contents .content {
    padding: 0 0px 30%;
}
#contents #contents-title {
    padding: 35px 00px 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1198px;
    margin: 0 auto;
}
#contents .content #content-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
    max-width: 1198px;
}
#contents .content #content-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1198px;
    margin: 20px auto 0;
}
}