@charset "UTF-8";
/* CSS Document */

#contents .content {
    padding: 0 15px 30%;
    background-image: url("../images/technology/technology-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
	position: relative;
}
#contents .content #content-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
}
#contents .content #content-box {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px 0 0;
	align-items: center;
}
#contents .content #content-box-top {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px 0 0;
	align-items: center;
}
#contents .content h3.content-title-en {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.sustainable-life-cycle{
	width: 90%;
}
/*******************************
	content-box-left
*******************************/
#content-box #content-box-topleft {
	position: relative;
	width: 80%;
	margin-bottom: 5%;
}
#content-box #content-box-topleft h4{
	font-size: 45px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topleft h4 span{
	font-size: 24px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topleft p {
    margin-top: 20px;
    line-height: 1.6;
	font-size: 16px;
}
#content-box #content-box-topleft p.caption {
    margin-top: 20px;
    line-height: 1.2;
	font-size: 14px;
}
/*******************************
	content-box-right
*******************************/
#content-box #content-box-topright {
    width: 100%;
	position: relative;
}
#content-box #content-box-topright img{
	width: 100%;
	height: auto;
}
#content-box #content-box-topright h4 {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topright h4 span{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;	
}


@media only screen and (min-width: 600px) {


/*******************************
	main
*******************************/
#contents .content #content-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 0 0;
	align-items: flex-start;
}
#content-box #content-box-topleft {
    position: relative;
    width: 48%;
	margin-bottom: 0%;
}
#content-box #content-box-topright {
    width: 45%;
    position: relative;
}

}
@media only screen and (min-width: 1024px) {
/*******************************
	main
*******************************/

}
@media only screen and (min-width: 1281px) {

#contents .content #content-box {
	display: block;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px auto 0;
	align-items: flex-start;
	width: 100%;
}
#contents .content #content-box-top {
    max-width: 1198px;
    margin: 20px auto 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#contents .content #content-box-bottom {
    max-width: 1198px;
    margin: 20px auto 150px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 100%;
}
#contents .content #content-box-bottom h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
    max-width: 1198px;
	margin: 0;
}
#contents .content #content-box ul {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;	
}
#contents .content #content-box ul li{
	width: 30%;	
}
#contents .content #content-box ul li a{
	color: #000;	
}
.technology-image{
	overflow: hidden;	
}
.technology-image img{
	width: 100%;
	height: auto;
	transform: scale(1);
	transform-origin: center;
	transition: all 1s;
}
#contents .content #content-box ul li a:hover .technology-image img{
	transition: all 1s;
	transform: scale(1.4);
}
.technology-link-title {
    font-size: 20px;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
	position: relative;
	padding-left: 24px;
}
.technology-link-title::before{
	content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translate(-50%,-30%);
    position: absolute;
    top: 50%;
    left: 0;	
}
}