@charset "UTF-8";
/* CSS Document */

#contents .content {
    padding: 0 15px 30%;
    background-image: url("../images/technology/technology-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
	position: relative;
}
#contents .content #content-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
}
#contents .content #content-box {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px 0 0;
	align-items: center;
}
#contents .content #content-box-top {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px 0 0;
	align-items: center;
}
#contents .content h3.content-title-en {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.sustainable-life-cycle{
	width: 90%;
}
/*******************************
	content-box-left
*******************************/
#content-box #content-box-topleft {
	position: relative;
	width: 100%;
	margin-bottom: 10%;
	text-align: center;
}
#content-box #content-box-topleft h4 {
    font-size: 8vw;
    font-weight: bold;
    color: #22a800;
}
#content-box #content-box-topleft h4 span {
    font-size: 4vw;
    font-weight: bold;
    color: #22a800;
    line-height: 2;
}
#content-box #content-box-topleft p {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 3vw;
}
#content-box #content-box-topleft p.caption {
    margin-top: 20px;
    line-height: 1.2;
	font-size: 2.8vw;
}
/*******************************
	content-box-right
*******************************/
#content-box #content-box-topright {
    width: 100%;
	position: relative;
}
#content-box #content-box-topright img{
	width: 100%;
	height: auto;
}
#content-box #content-box-topright h4 {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topright h4 span{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;	
}
#contents .content #content-box-bottom {
    margin: 20px auto 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
}
#contents .content #content-box-bottom h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
    margin: 0;
}
#contents .content #content-box ul {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
	margin: 20px 0 30px;
}
#contents .content #content-box ul li{
	width: 30%;	
	max-width: 350px;
	height: 48px;
	border: 2px solid #0094d4;
}
#contents .content #content-box ul li a{
	color: #0094d4;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	justify-content: center;
	text-decoration: none;
}
#contents .content #content-box ul li a span{
	position: relative;	
	width: 100%;
}
#contents .content #content-box ul li a span::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #0094d4;
    border-right: solid 2px #0094d4;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-70%);
    position: absolute;
    top: 50%;
    right: 30px;
}
.content-box-botttom-section {
    margin: -120px auto 0;
    width: 100%;
    height: auto;
    padding: 120px 0 0;
}
.content-box-botttom-section-inner {
    margin: 0 auto 80px;
    background: #fff;
    box-shadow: 0 0 20px #00000061;
    border-radius: 0;
    padding: 30px 0;
}
.content-box-botttom-section-inner-title {
    border-top: 3px solid #0094d4;
    border-bottom: 3px solid #0094d4;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.content-box-botttom-section-inner-title-left{
	display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.content-box-botttom-section-inner-title-left p {
    background-color: #f15a24;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 100%;
    margin-left: 0;
    padding-top: 26%;
    font-weight: bold;
}
.content-box-botttom-section-inner-title-right {
    width: 100%;
    text-align: left;
    padding: 15px 5%;
}
.content-box-botttom-section-inner-title-right h4 {
    color: #0094d4;
    font-size: 3.2vw;
    font-weight: bold;
}
.content-box-botttom-section-inner-title-right p {
    color: #000;
    font-size: 2.8vw;
    font-weight: bold;
    margin-top: 2%;
}
.content-box-botttom-section-inner-contents {
    padding: 5%;
}
.content-box-botttom-section-inner-contents01 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.content-box-botttom-section-inner-contents01-left{
	width: 100%;
}
.content-box-botttom-section-inner-contents01-left h5{
	color: #0094d4;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
}
.content-box-botttom-section-inner-contents01-left p {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    margin: 10px 0 20px;
}
.content-box-botttom-section-inner-contents01-right{
	width: 100%;
}
.content-box-botttom-section-inner-contents01-right img{
	width: 100%;
}
.content-box-botttom-section-inner-contents02 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 50px 0 0;
	position: relative;
}
.content-box-botttom-section-inner-contents02::before{
		
}
.content-box-botttom-section-inner-contents02::after{
		
}
.contents02-inner {
    width: 28%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
}
.contents02-arrow {
    width: 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.red-arrow {
    margin-bottom: 50px;
}
.contents02-inner h5 {
    color: #0094d4;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.contents02-inner p {
    color: #000;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.6;
    margin: 10px 0 0;
}
.contents02-inner img{
    width: 100%;
    margin: 20px 0;
}
.inner-contents02 .content-box-botttom-section-inner-contents01-right{
	width: 100%;		
}
.inner-contents02 .content-box-botttom-section-inner-contents01:last-child{
	margin-top: 50px;
}
.inner-contents03 .content-box-botttom-section-inner-contents01:last-child{
	margin-top: 50px;
}
.content-box-botttom-section-inner-contents03 {
    margin: 0 auto 30px;
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.content-box-botttom-section-inner-contents03-top img{
	width: 100%;	
}
.content-box-botttom-section-inner-contents03-bottom p{
	margin: 20px 0;	
	color: #000;	
	font-size: 18px;
	font-weight: normal;
	line-height: 1.6;
}
#section-navi {
    width: 100%;
    background-color: #ececec;
    height: 140px;
    margin: 0;
    display: flex;
    align-items: center;
}
#section-navi ul {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
#section-navi ul li {
    max-width: 340px;
    height: 60px;
    background-color: #fff;
    border: 3px solid #c6c6c6;
    width: 30%;
}
#section-navi  ul li a{
	color: #000;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	justify-content: center;
	text-decoration: none;
}
#section-navi  ul li a span{
	position: relative;	
	width: 100%;
}
#section-navi  ul li a span::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-70%);
    position: absolute;
    top: 50%;
    right: 30px;
}
@media only screen and (min-width: 600px) {


/*******************************
	main
*******************************/
#contents .content #content-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 20px auto 0;
	align-items: flex-start;
}
#contents .content #content-box-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    align-items: flex-start;
}
#content-box #content-box-topleft {
    position: relative;
    width: 50%;
	margin-bottom: 0%;
	text-align: left;
}
#content-box #content-box-topleft h4 {
    font-size: 5vw;
    font-weight: bold;
    color: #22a800;
}
#content-box #content-box-topleft h4 span {
    font-size: 2.2vw;
    font-weight: bold;
    color: #22a800;
    line-height: 2;
}
#content-box #content-box-topleft p {
    margin-top: 5%;
    line-height: 1.6;
    font-size: 1.5vw;
}
#content-box #content-box-topleft p.caption {
    margin-top: 5%;
    line-height: 1.2;
    font-size: 1.2vw;
}
#content-box #content-box-topright {
    width: 45%;
    position: relative;
}
}
@media only screen and (min-width: 1024px) {
/*******************************
	main
*******************************/
#contents .content {
    padding: 0 0 30%;
}
/*******************************
	content-box-left
*******************************/
#content-box #content-box-topleft {
	position: relative;
	width: 50%;
	margin-bottom: 0%;
}
#content-box #content-box-topleft h4{
	font-size: 45px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topleft h4 span{
	font-size: 24px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topleft p {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 14px;
}
#content-box #content-box-topleft p.caption {
    margin-top: 20px;
    line-height: 1.2;
	font-size: 12px;
}
/*******************************
	content-box-right
*******************************/
#content-box #content-box-topright {
    width: 50%;
	position: relative;
}
#content-box #content-box-topright img{
	width: 100%;
	height: auto;
}
#content-box #content-box-topright h4 {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
	font-weight: bold;
	color: #22a800;
}
#content-box #content-box-topright h4 span{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;	
}
/*******************************
	content-box-bottom
*******************************/
#contents .content #content-box-bottom {
    max-width: 1198px;
    margin: 20px auto 30px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 100%;
}
#contents .content #content-box-bottom h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #0096d6;
    padding: 11px;
    max-width: 1198px;
	margin: 0;
}
#contents .content #content-box ul {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
	margin: 20px 0 30px;
}
#contents .content #content-box ul li{
	width: 30%;	
	max-width: 350px;
	height: 48px;
	border: 2px solid #0094d4;
}
#contents .content #content-box ul li a{
	color: #0094d4;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	justify-content: center;
	text-decoration: none;
}
#contents .content #content-box ul li a span{
	position: relative;	
	width: 100%;
}
#contents .content #content-box ul li a span::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #0094d4;
    border-right: solid 2px #0094d4;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-70%);
    position: absolute;
    top: 50%;
    right: 30px;
}
.content-box-botttom-section {
    margin: -120px auto 0;
    width: 100%;
    height: auto;
    padding: 120px 0 0;
}
.content-box-botttom-section-inner {
    margin: 0 auto 80px;
    background: #fff;
    box-shadow: 0 0 20px #00000061;
    border-radius: 20px;
    padding: 50px 0;
}
.content-box-botttom-section-inner-title {
    border-top: 3px solid #0094d4;
    border-bottom: 3px solid #0094d4;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.content-box-botttom-section-inner-title-left{
	display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.content-box-botttom-section-inner-title-left p{
	background-color: #f15a24;	
	color: #fff;
	text-align: center;
	width: 150px;
	height: 100%;
	margin-left: 100px;
	padding-top: 14%;
	font-weight: bold;
}
.content-box-botttom-section-inner-title-right {
    width: 610px;
    text-align: center;
    padding: 15px 0;
}
.content-box-botttom-section-inner-title-right h4{
	color: #0094d4;	
	font-size: 28px;
	font-weight: bold;
}
.content-box-botttom-section-inner-title-right p{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.content-box-botttom-section-inner-contents {
    padding: 40px 100px 0;
}
.content-box-botttom-section-inner-contents01 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.content-box-botttom-section-inner-contents01-left{
	width: 60%;
}
.content-box-botttom-section-inner-contents01-left h5{
	color: #0094d4;	
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
}
.content-box-botttom-section-inner-contents01-left p{
	color: #000;	
	font-size: 18px;
	font-weight: normal;
	line-height: 2;
	margin: 20px 0 0;
}
.content-box-botttom-section-inner-contents01-right{
	width: 38%;
}
.content-box-botttom-section-inner-contents01-right img{
	width: 100%;
}
.content-box-botttom-section-inner-contents02 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 50px 0 0;
	position: relative;
}
.content-box-botttom-section-inner-contents02::before{
		
}
.content-box-botttom-section-inner-contents02::after{
		
}
.contents02-inner {
    width: 28%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
}
.contents02-arrow {
    width: 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.red-arrow {
    margin-bottom: 50px;
}
.contents02-inner h5{
	color: #0094d4;	
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}
.contents02-inner p{
	color: #000;	
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6;
	margin: 10px 0 0;
}
.contents02-inner img{
    width: 100%;
    margin: 20px 0;
}
.inner-contents02 .content-box-botttom-section-inner-contents01-right{
	width: 30%;		
}
.inner-contents02 .content-box-botttom-section-inner-contents01:last-child{
	margin-top: 50px;
}
.inner-contents03 .content-box-botttom-section-inner-contents01:last-child{
	margin-top: 50px;
}
.content-box-botttom-section-inner-contents03 {
    margin: 0 auto 30px;
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.content-box-botttom-section-inner-contents03-top img{
	width: 100%;	
}
.content-box-botttom-section-inner-contents03-bottom p{
	margin: 20px 0;	
	color: #000;	
	font-size: 18px;
	font-weight: normal;
	line-height: 1.6;
}
#section-navi {
    width: 100%;
    background-color: #ececec;
    height: 140px;
    margin: 0;
    display: flex;
    align-items: center;
}
#section-navi ul {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
#section-navi ul li {
    max-width: 340px;
    height: 60px;
    background-color: #fff;
    border: 3px solid #c6c6c6;
    width: 30%;
}
#section-navi  ul li a{
	color: #000;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	justify-content: center;
	text-decoration: none;
}
#section-navi  ul li a span{
	position: relative;	
	width: 100%;
}
#section-navi  ul li a span::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-70%);
    position: absolute;
    top: 50%;
    right: 30px;
}
}

@media only screen and (min-width: 1281px) {

#contents .content #content-box {
	display: block;
	flex-flow: column;
	justify-content: space-between;
	margin: 20px auto 0;
	align-items: flex-start;
	width: 100%;
}
#contents .content #content-box-top {
    max-width: 1198px;
    margin: 20px auto 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#content-box #content-box-topleft p {
    margin-top: 20px;
    line-height: 1.6;
	font-size: 16px;
}
#content-box #content-box-topleft p.caption {
    margin-top: 20px;
    line-height: 1.2;
	font-size: 14px;
}
.content-box-botttom-section-inner-title-right {
    width: 748px;
    text-align: center;
    padding: 15px 0;
}
.technology-image{
	overflow: hidden;	
}
.technology-image img{
	width: 100%;
	height: auto;
	transform: scale(1);
	transform-origin: center;
	transition: all 1s;
}
#contents .content #content-box ul li a:hover .technology-image img{
	transition: all 1s;
	transform: scale(1.4);
}
#section-navi ul {
    max-width: 1198px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.technology-link-title {
    font-size: 20px;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
	position: relative;
	padding-left: 24px;
}
.technology-link-title::before{
	content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translate(-50%,-30%);
    position: absolute;
    top: 50%;
    left: 0;	
}
}